// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import "/resources/css/owl.carousel.min.css";
@import "/resources/css/owl.theme.default.min.css";
@import "/resources/css/header.css";
@import "/resources/css/home.css";
@import "/resources/css/category.css";
@import "/resources/css/product.css";
@import "/resources/css/footer.css";
@import "/resources/css/cart.css";
@import "/resources/css/checkout.css";
@import "/resources/css/account.css";
body{
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container{
    max-width: 1620px;
}
.card .card-img-top{
    margin: auto;
    width: 258px !important;
}
.card-title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #212529;
    text-decoration: none;
}
.card .wrapper_img_card{
    display: flex;
}
.card{
    background-color:#fff !important;
    margin: 5px;
    padding: 15px 0 0px 0;
    border: none;
}
.card-body{
    min-height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pagination_wrapper{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-primary{
    background-color: #00aeef;
    border-color: #00aeef;
}
.alert{
    list-style-type:none;
}
@media (max-width: 1430px) {
    #search input {
        width: 400px;

    }
    .tt-menu{
        width: 400px;
    }
}
@media (max-width: 1230px) {
    #search input {
        width: 300px;
    }
    .tt-menu{
        width: 300px;
    }
}
