.block_account{
    display: grid;
    grid-template-columns: 15% 85%;
    margin-top: 20px;
}
.block_account .left_block ul li{
    padding-left: 20px;
    padding-right: 5px;
    -moz-text-align-last: left;
    text-align-last: left;
    height: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: .3s background-color;
    -o-transition: .3s background-color;
    transition: .3s background-color;
    border: 1px solid #dedede;
    margin-bottom: 2px;
    border-radius: 4px;
    font-weight: 500;
}
.block_account .left_block ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin-bottom: 30px;
}
.block_account .left_block ul li a {
    color: #222;
    width: 100%;
    line-height: 15px;
    text-decoration: none;
    font-size: 15px;
}
.block_account .left_block ul li.active a {
    color: #fff;
}
.block_account .left_block ul li.active {
    background-color: #00aeef;;
}
.block_account .right_block{
    padding-left: 20px;
}
.block_account .right_block .col-input{
width: 300px;
margin-right: 20px;
}
.block_account table a{
    text-decoration: none;
}
.btn-href{
    border: none;
    background: none;
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
}
