.block_category{
    display: grid;
    grid-template-columns: 20% 80%;
}
.wrapper_goods{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.CategoryTree, .CategoryTreeChildren{
    list-style-type:none;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
}
.CategoryAttr{
    list-style-type:none;
}
.CategoryAttrName{
    list-style-type:none;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
}
.CategoryAttrName li input:focus{
    box-shadow: none;
}
.CategoryTreeChildren::-webkit-scrollbar-thumb {
    background-color: #00AEEF;
}
.CategoryTreeChildren::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f2f2f2;
}
.CategoryAttrName::-webkit-scrollbar-thumb {
    background-color: #00AEEF;
}
.CategoryAttrName::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f2f2f2;
}
.CategoryTree{
    margin-bottom: 0;
    border-bottom: 1px solid #ececec;
    padding-bottom: 10px;
}
.CategoryTree li, .CategoryTreeChildren li{
    font-size: 14px;
    padding-top: 5px;
    padding-left: 10px;
}
.CategoryTree a, .CategoryTreeChildren a{
    color: #212121;
    text-decoration: none;
}
.CategoryTree li:last-child{
    font-weight: 600;
    text-shadow: 0 1px 0 #fff;
    font-size: 16px;
}
.CategoryTree li:nth-child(1){
    padding-left: 10px;
    font-size: 15px;
}
.CategoryTree li:nth-child(2){
    padding-left: 20px;
}
.CategoryTree li:nth-child(3){
    padding-left: 30px;
}
.block_category .spinner.hide{
    display: none !important;
}
.spinner{
    position: fixed;
    width: 80%;
    top: 40%;
}
.block_category_search{
    list-style-type: none;
}
.block_category_search ul{
    list-style-type: none;
}
.block_category_search a{
    text-decoration: none;
    color: black;
}
.block_category .show_filter_btn{
    display: none;
}
#collapseExampleFilter li{
    list-style-type: none;
}
