.filterslider_home {
    display: block;
    height: 567px;
}
.filterslider_home ul {
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 3px solid #f1f2f6;
    margin-bottom: 10px;
    padding-left: 0;
}
.filterslider_home ul li {
    list-style-type: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 140%;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 15px;
    margin-bottom: -3px;
    white-space: nowrap;
}
.filterslider_home ul .activ_ {
    border-bottom: 3px solid #00aeef;
}
.container_carousel .hide_ {
    display: none!important;
}
.slaider_prod .owl-next {
    position: absolute;
    top: min(182px,40%);
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: .5;
    filter: alpha(opacity=50);
    left: auto;
    right: 15px;
}
.slaider_prod .owl-prev {
    position: absolute;
    top: min(182px,40%);
    left: 15px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: .5;
    filter: alpha(opacity=50);
}
.owl-theme.slaider_prod .owl-nav button.owl-next {
    display: none;
    cursor: pointer;
}
.owl-theme.slaider_prod:hover .owl-nav button.owl-next {
    display: block !important;
}
.owl-theme.slaider_prod .owl-nav button.owl-prev {
    display: none;
    cursor: pointer;
}
.owl-theme.slaider_prod:hover .owl-nav button.owl-prev {
    display: block !important;
}
.owl-theme.slaider_prod:hover .owl-nav button.owl-prev span{
    display: block;
    margin-top: -6px;
}
.owl-theme.slaider_prod:hover .owl-nav button.owl-next span{
    display: block;
    margin-top: -6px;
}
.container_carousel .hide_{
    display: none !important;
}
.see_all_slider{
    display: block;
    margin-top: 115px;
    text-align: center;
}
.see_all_slider a{
    text-decoration: none;
}
#BrandSliderHome1 .owl-stage, #BrandSliderHome2 .owl-stage{
    display: flex;
    align-items: center;
}
.wrapper_BrandSliderHome{
    height: 250px;
}
