.product_container h1{
        font-weight: 500;
        font-size: 27px;
        line-height: 140%;
        color: #000;
        margin-bottom: 30px;
}
.content_prod{
    display: flex;
    margin: auto;
}
.product_container .left_block .img{
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}
.product_container .left_block{
    width: 70%;
}

.product_container .left_block .wrapper_product_image{
    margin-right: 20px;
    height: 308px;
    width: 308px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ddd;
    padding: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,.055);
    border-radius: 4px;
}

.product_container .right_block{
    background-color: #f9f9f9;
    padding-top: 30px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 30px;
    margin-left: 10px;
    width: 370px;
    height: 230px;
    border-radius: 10px;
}
.product_container .add_cart_block_hide{
    background-color: #f9f9f9;
    padding-top: 30px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 30px;
    width: 308px;
    height: 155px;
    border-radius: 10px;
    margin-top: 20px;
    display: none;
}


.product_container .add_cart_block_hide .price{
    font-weight: 500;
    line-height: 140%;
    font-size: 26px;
}
.product_container .add_cart_block_hide .buy_button{
    color: #fff;
    padding: 5px 30px;
}
.product_container .add_cart_block_hide .buy_button:hover{
    color: #fff;
}


.product_container .info{
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 0.5;
}
.page_info_prod{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 10px 20px 0 0;
}
.page_info_prod .row{
    background-color: #fff;
}
.page_info_prod .btn-collapse{
    border-radius: 10px 20px 0 0;
   background-color: #f2f2f2;
   color: #222;
   border: none;
}
.page_info_prod .btn-collapse.show{
    color: #fff;
}
.right_block .price{
    font-weight: 500;
    line-height: 140%;
    font-size: 26px;
}
.right_block .buy_button{
    color: #fff;
    padding: 5px 30px;
}
.right_block .buy_button:hover{
    color: #fff;
}
.element-buttons-count {
    width: 88px;
    margin-right: 14px;
    border: 1px solid #dedede;
    border-radius: 8px;
}
.element-buttons-count span {
    width: 28px;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
    border-radius: 8px;
    -webkit-transition: .3s background-color;
    -o-transition: .3s background-color;
    transition: .3s background-color;
}
.element-buttons-count input {
    background-color: #f9f9f9;
    width: 30px;
    border: none;
}
.element-buttons-count input::-webkit-outer-spin-button,
.element-buttons-count input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.element-buttons-count input:focus{
    box-shadow:none;
}
.element-buttons-count input,
.element-buttons-count input:hover,
.element-buttons-count input:focus {
    appearance: none;
    -moz-appearance: textfield;
}
.marker{
    display: inline-block;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 3px;
    background-color: #ffbd17;
}
.marker.yellow {
    background-color: #ffbd17;
}
.marker.red {
    background-color: red;
}
.all_show_description{
    width: 200px;
    margin: auto;
    margin-top: 10px;
}
.specsale{
    position: absolute;
    background-size: contain;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    top: -2px;
    right: 0;
    transition: all .3s;
}
.specsale.product{
    margin-bottom: 250px;
    margin-left: 250px;
    top: auto;
    right: auto;
}
